<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKKGbZNhQPOYSQGqGZE0YmdiZq9qzQY_g</string>
	<key>GCM_SENDER_ID</key>
	<string>350847112281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fotostudyo.musteri</string>
	<key>PROJECT_ID</key>
	<string>lumeartwedding-e973a</string>
	<key>STORAGE_BUCKET</key>
	<string>lumeartwedding-e973a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350847112281:ios:a218b6d0d5dfae9f118d48</string>
</dict>
</plist>

